In [1]:
# root:root → username:password
# localhost → server
# retail_store → database/schema

%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/retail_store

In [2]:
%%sql
Use retail_store;

 * mysql+mysqlconnector://root:***@localhost/retail_store
0 rows affected.

[]

In [3]:
%%sql
show tables;

 * mysql+mysqlconnector://root:***@localhost/retail_store
1 rows affected.

[('retail_sales',)]

In [4]:
%%sql
select * from retail_sales
limit 10;

 * mysql+mysqlconnector://root:***@localhost/retail_store
10 rows affected.

[(1, datetime.date(2022, 12, 16), datetime.timedelta(seconds=69000), 50, 'Male', 34, 'Beauty', 3, Decimal('50.00'), Decimal('16.00'), Decimal('150.00')),
 (2, datetime.date(2022, 6, 24), datetime.timedelta(seconds=36420), 104, 'Female', 26, 'Clothing', 2, Decimal('500.00'), Decimal('135.00'), Decimal('1000.00')),
 (3, datetime.date(2022, 6, 14), datetime.timedelta(seconds=25680), 114, 'Male', 50, 'Electronics', 1, Decimal('30.00'), Decimal('8.10'), Decimal('30.00')),
 (4, datetime.date(2023, 8, 27), datetime.timedelta(seconds=65520), 3, 'Male', 37, 'Clothing', 1, Decimal('500.00'), Decimal('200.00'), Decimal('500.00')),
 (5, datetime.date(2023, 9, 5), datetime.timedelta(seconds=79800), 3, 'Male', 30, 'Beauty', 2, Decimal('50.00'), Decimal('24.00'), Decimal('100.00')),
 (6, datetime.date(2023, 11, 15), datetime.timedelta(seconds=80160), 2, 'Female', 45, 'Beauty', 1, Decimal('30.00'), Decimal('15.00'), Decimal('30.00')),
 (7, datetime.date(2023, 7, 6), datetime.timedelta(seconds=23040), 38, 'Male', 46, 'Clothing', 2, Decimal('25.00'), Decimal('13.25'), Decimal('50.00')),
 (8, datetime.date(2022, 12, 27), datetime.timedelta(seconds=40740), 148, 'Male', 30, 'Electronics', 4, Decimal('25.00'), Decimal('11.00'), Decimal('100.00')),
 (9, datetime.date(2022, 12, 2), datetime.timedelta(seconds=47520), 85, 'Male', 63, 'Electronics', 2, Decimal('300.00'), Decimal('78.00'), Decimal('600.00')),
 (10, datetime.date(2022, 10, 24), datetime.timedelta(seconds=82500), 81, 'Female', 52, 'Clothing', 4, Decimal('50.00'), Decimal('62.50'), Decimal('200.00'))]

In [5]:
%%sql 
DESCRIBE retail_sales;

 * mysql+mysqlconnector://root:***@localhost/retail_store
11 rows affected.

[('transaction_id', 'int', 'NO', 'PRI', None, ''),
 ('sale_date', 'date', 'YES', '', None, ''),
 ('sale_time', 'time', 'YES', '', None, ''),
 ('customer_id', 'int', 'YES', '', None, ''),
 ('gender', 'varchar(10)', 'YES', '', None, ''),
 ('age', 'int', 'YES', '', None, ''),
 ('category', 'varchar(50)', 'YES', '', None, ''),
 ('quantity', 'int', 'YES', '', None, ''),
 ('price_per_unit', 'decimal(10,2)', 'YES', '', None, ''),
 ('cogs', 'decimal(10,2)', 'YES', '', None, ''),
 ('total_sale', 'decimal(10,2)', 'YES', '', None, '')]

**DATA CLEANING**

In [32]:
%%sql

#CHANGE DATATYPE FROM VARCHAR TO DATE

UPDATE retail_sales
SET sale_date = STR_TO_DATE(sale_date, '%d-%m-%Y');

ALTER TABLE retail_sales MODIFY sale_date DATE;

 * mysql+mysqlconnector://root:***@localhost/retail_store
   mysql+mysqlconnector://root:***@localhost/test
1987 rows affected.
1987 rows affected.

[]

In [33]:
%%sql
DESCRIBE retail_sales

 * mysql+mysqlconnector://root:***@localhost/retail_store
   mysql+mysqlconnector://root:***@localhost/test
11 rows affected.

[('transaction_id', 'int', 'NO', 'PRI', None, ''),
 ('sale_date', 'date', 'YES', '', None, ''),
 ('sale_time', 'time', 'YES', '', None, ''),
 ('customer_id', 'int', 'YES', '', None, ''),
 ('gender', 'varchar(10)', 'YES', '', None, ''),
 ('age', 'int', 'YES', '', None, ''),
 ('category', 'varchar(50)', 'YES', '', None, ''),
 ('quantity', 'int', 'YES', '', None, ''),
 ('price_per_unit', 'decimal(10,2)', 'YES', '', None, ''),
 ('cogs', 'decimal(10,2)', 'YES', '', None, ''),
 ('total_sale', 'decimal(10,2)', 'YES', '', None, '')]


*FIND NULL VALUES*

In [37]:
%%sql

select * from retail_sales
where 
transaction_id is null or
sale_date is null or
sale_time is null or
customer_id is null or
gender is null or
age is null or
category is null or
quantity is null or
price_per_unit is null or cogs is null or total_sale is null;

 * mysql+mysqlconnector://root:***@localhost/retail_store
   mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

**DATA EXPLORATION**

In [6]:
%%sql
#Total sales
select count(*) as TOTAL_SALES
from retail_sales

 * mysql+mysqlconnector://root:***@localhost/retail_store
1 rows affected.

[(1987,)]

In [7]:
%%sql

#TOTAL customers

select
count(distinct customer_id) as TOTAL_CUSTOMER
from retail_sales

 * mysql+mysqlconnector://root:***@localhost/retail_store
1 rows affected.

[(155,)]

In [8]:
%%sql

#Different category

select distinct category as CATEGORY 
from retail_sales

 * mysql+mysqlconnector://root:***@localhost/retail_store
3 rows affected.

[('Beauty',), ('Clothing',), ('Electronics',)]

**DATA ANALYSIS**

**1.Write a SQL query to retrieve all columns for sales made on '2022-11-05'**

In [9]:
%%sql
select * from retail_sales
where sale_date='2022-11-05'

 * mysql+mysqlconnector://root:***@localhost/retail_store
11 rows affected.

[(180, datetime.date(2022, 11, 5), datetime.timedelta(seconds=38820), 117, 'Male', 41, 'Clothing', 3, Decimal('300.00'), Decimal('129.00'), Decimal('900.00')),
 (214, datetime.date(2022, 11, 5), datetime.timedelta(seconds=59460), 53, 'Male', 20, 'Beauty', 2, Decimal('30.00'), Decimal('8.10'), Decimal('60.00')),
 (240, datetime.date(2022, 11, 5), datetime.timedelta(seconds=42540), 95, 'Female', 23, 'Beauty', 1, Decimal('300.00'), Decimal('123.00'), Decimal('300.00')),
 (856, datetime.date(2022, 11, 5), datetime.timedelta(seconds=63780), 102, 'Male', 54, 'Electronics', 4, Decimal('30.00'), Decimal('9.30'), Decimal('120.00')),
 (943, datetime.date(2022, 11, 5), datetime.timedelta(seconds=70140), 90, 'Female', 57, 'Clothing', 4, Decimal('300.00'), Decimal('318.00'), Decimal('1200.00')),
 (1137, datetime.date(2022, 11, 5), datetime.timedelta(seconds=81240), 104, 'Male', 46, 'Beauty', 2, Decimal('500.00'), Decimal('145.00'), Decimal('1000.00')),
 (1256, datetime.date(2022, 11, 5), datetime.timedelta(seconds=35880), 29, 'Male', 23, 'Clothing', 2, Decimal('500.00'), Decimal('190.00'), Decimal('1000.00')),
 (1265, datetime.date(2022, 11, 5), datetime.timedelta(seconds=52500), 86, 'Male', 55, 'Clothing', 3, Decimal('300.00'), Decimal('111.00'), Decimal('900.00')),
 (1587, datetime.date(2022, 11, 5), datetime.timedelta(seconds=72360), 140, 'Female', 40, 'Beauty', 4, Decimal('300.00'), Decimal('105.00'), Decimal('1200.00')),
 (1819, datetime.date(2022, 11, 5), datetime.timedelta(seconds=74640), 83, 'Female', 35, 'Beauty', 2, Decimal('50.00'), Decimal('13.50'), Decimal('100.00')),
 (1896, datetime.date(2022, 11, 5), datetime.timedelta(seconds=73140), 87, 'Female', 30, 'Electronics', 2, Decimal('25.00'), Decimal('30.75'), Decimal('50.00'))]

**2. Write a SQL query to retrieve all transactions where the category is 'Clothing' and the quantity sold is more than 4 in the month of Nov-2022**

In [10]:
%%sql
select *
from retail_sales
where category='Clothing' and 
sale_date between '2022-11-01' and '2022-11-30' and
quantity>=4

 * mysql+mysqlconnector://root:***@localhost/retail_store
17 rows affected.

[(64, datetime.date(2022, 11, 15), datetime.timedelta(seconds=23640), 7, 'Male', 49, 'Clothing', 4, Decimal('25.00'), Decimal('8.50'), Decimal('100.00')),
 (146, datetime.date(2022, 11, 10), datetime.timedelta(seconds=79260), 74, 'Male', 38, 'Clothing', 4, Decimal('50.00'), Decimal('49.00'), Decimal('200.00')),
 (159, datetime.date(2022, 11, 10), datetime.timedelta(seconds=77400), 42, 'Male', 26, 'Clothing', 4, Decimal('50.00'), Decimal('23.50'), Decimal('200.00')),
 (284, datetime.date(2022, 11, 12), datetime.timedelta(seconds=33420), 129, 'Male', 43, 'Clothing', 4, Decimal('50.00'), Decimal('20.50'), Decimal('200.00')),
 (547, datetime.date(2022, 11, 14), datetime.timedelta(seconds=27360), 3, 'Male', 63, 'Clothing', 4, Decimal('500.00'), Decimal('250.00'), Decimal('2000.00')),
 (699, datetime.date(2022, 11, 21), datetime.timedelta(seconds=80460), 129, 'Female', 37, 'Clothing', 4, Decimal('30.00'), Decimal('16.20'), Decimal('120.00')),
 (735, datetime.date(2022, 11, 26), datetime.timedelta(seconds=77880), 153, 'Female', 64, 'Clothing', 4, Decimal('500.00'), Decimal('515.00'), Decimal('2000.00')),
 (943, datetime.date(2022, 11, 5), datetime.timedelta(seconds=70140), 90, 'Female', 57, 'Clothing', 4, Decimal('300.00'), Decimal('318.00'), Decimal('1200.00')),
 (965, datetime.date(2022, 11, 27), datetime.timedelta(seconds=78300), 84, 'Male', 22, 'Clothing', 4, Decimal('50.00'), Decimal('13.00'), Decimal('200.00')),
 (1259, datetime.date(2022, 11, 3), datetime.timedelta(seconds=63060), 105, 'Female', 45, 'Clothing', 4, Decimal('50.00'), Decimal('21.00'), Decimal('200.00')),
 (1296, datetime.date(2022, 11, 26), datetime.timedelta(seconds=74520), 45, 'Female', 22, 'Clothing', 4, Decimal('300.00'), Decimal('342.00'), Decimal('1200.00')),
 (1476, datetime.date(2022, 11, 11), datetime.timedelta(seconds=80820), 130, 'Female', 27, 'Clothing', 4, Decimal('500.00'), Decimal('555.00'), Decimal('2000.00')),
 (1484, datetime.date(2022, 11, 23), datetime.timedelta(seconds=34140), 22, 'Female', 19, 'Clothing', 4, Decimal('300.00'), Decimal('147.00'), Decimal('1200.00')),
 (1497, datetime.date(2022, 11, 19), datetime.timedelta(seconds=78240), 109, 'Male', 41, 'Clothing', 4, Decimal('30.00'), Decimal('32.40'), Decimal('120.00')),
 (1615, datetime.date(2022, 11, 17), datetime.timedelta(seconds=49380), 82, 'Female', 61, 'Clothing', 4, Decimal('25.00'), Decimal('13.50'), Decimal('100.00')),
 (1696, datetime.date(2022, 11, 21), datetime.timedelta(seconds=64740), 24, 'Female', 50, 'Clothing', 4, Decimal('50.00'), Decimal('55.00'), Decimal('200.00')),
 (1885, datetime.date(2022, 11, 9), datetime.timedelta(seconds=27120), 148, 'Female', 52, 'Clothing', 4, Decimal('30.00'), Decimal('10.80'), Decimal('120.00'))]

**3. Write a SQL query to calculate the total sales (total_sale) for each category.**

In [11]:
%%sql

select category,sum(total_sale) as total_sales,count(*) as total_orders
from retail_sales
group by category
order by total_sales desc

 * mysql+mysqlconnector://root:***@localhost/retail_store
3 rows affected.

[('Electronics', Decimal('311445.00'), 678),
 ('Clothing', Decimal('309995.00'), 698),
 ('Beauty', Decimal('286790.00'), 611)]

**4.Write a SQL query to find the average age of customers who purchased items from the 'Beauty' category.**

In [12]:
%%sql
select round(avg(age),2) as AVERAGE_AGE
from retail_sales
where category='Beauty'

 * mysql+mysqlconnector://root:***@localhost/retail_store
1 rows affected.

[(Decimal('40.42'),)]

**5.Write a SQL query to find all transactions where the total_sale is greater than 1000.**

In [13]:
%%sql

select * 
from retail_sales
where total_sale>1000

 * mysql+mysqlconnector://root:***@localhost/retail_store
306 rows affected.

[(13, datetime.date(2023, 2, 8), datetime.timedelta(seconds=63780), 106, 'Male', 22, 'Electronics', 3, Decimal('500.00'), Decimal('245.00'), Decimal('1500.00')),
 (15, datetime.date(2022, 7, 1), datetime.timedelta(seconds=42600), 75, 'Female', 42, 'Electronics', 4, Decimal('500.00'), Decimal('210.00'), Decimal('2000.00')),
 (16, datetime.date(2022, 6, 25), datetime.timedelta(seconds=37980), 82, 'Male', 19, 'Clothing', 3, Decimal('500.00'), Decimal('180.00'), Decimal('1500.00')),
 (31, datetime.date(2023, 12, 31), datetime.timedelta(seconds=64020), 3, 'Male', 44, 'Electronics', 4, Decimal('300.00'), Decimal('129.00'), Decimal('1200.00')),
 (46, datetime.date(2022, 11, 8), datetime.timedelta(seconds=64200), 54, 'Female', 20, 'Electronics', 4, Decimal('300.00'), Decimal('84.00'), Decimal('1200.00')),
 (47, datetime.date(2022, 10, 22), datetime.timedelta(seconds=62520), 96, 'Female', 40, 'Beauty', 3, Decimal('500.00'), Decimal('600.00'), Decimal('1500.00')),
 (54, datetime.date(2022, 10, 20), datetime.timedelta(seconds=37020), 142, 'Female', 38, 'Electronics', 3, Decimal('500.00'), Decimal('200.00'), Decimal('1500.00')),
 (58, datetime.date(2023, 9, 16), datetime.timedelta(seconds=69480), 53, 'Male', 18, 'Clothing', 4, Decimal('300.00'), Decimal('75.00'), Decimal('1200.00')),
 (65, datetime.date(2022, 12, 11), datetime.timedelta(seconds=72180), 84, 'Male', 51, 'Electronics', 4, Decimal('500.00'), Decimal('160.00'), Decimal('2000.00')),
 (67, datetime.date(2023, 8, 19), datetime.timedelta(seconds=73140), 119, 'Female', 48, 'Beauty', 4, Decimal('300.00'), Decimal('129.00'), Decimal('1200.00')),
 (72, datetime.date(2023, 12, 6), datetime.timedelta(seconds=69540), 5, 'Female', 20, 'Electronics', 4, Decimal('500.00'), Decimal('195.00'), Decimal('2000.00')),
 (74, datetime.date(2023, 10, 5), datetime.timedelta(seconds=71400), 56, 'Female', 18, 'Beauty', 4, Decimal('500.00'), Decimal('205.00'), Decimal('2000.00')),
 (78, datetime.date(2023, 2, 17), datetime.timedelta(seconds=76080), 68, 'Female', 47, 'Clothing', 3, Decimal('500.00'), Decimal('265.00'), Decimal('1500.00')),
 (89, datetime.date(2023, 12, 30), datetime.timedelta(seconds=76500), 117, 'Female', 55, 'Electronics', 4, Decimal('500.00'), Decimal('590.00'), Decimal('2000.00')),
 (93, datetime.date(2022, 1, 25), datetime.timedelta(seconds=75120), 148, 'Female', 35, 'Beauty', 4, Decimal('500.00'), Decimal('140.00'), Decimal('2000.00')),
 (99, datetime.date(2023, 11, 19), datetime.timedelta(seconds=54720), 71, 'Female', 50, 'Electronics', 4, Decimal('300.00'), Decimal('132.00'), Decimal('1200.00')),
 (107, datetime.date(2022, 10, 6), datetime.timedelta(seconds=33480), 75, 'Female', 21, 'Clothing', 4, Decimal('300.00'), Decimal('78.00'), Decimal('1200.00')),
 (109, datetime.date(2023, 9, 6), datetime.timedelta(seconds=71820), 94, 'Female', 34, 'Electronics', 4, Decimal('500.00'), Decimal('560.00'), Decimal('2000.00')),
 (111, datetime.date(2023, 4, 15), datetime.timedelta(seconds=35100), 5, 'Female', 34, 'Electronics', 3, Decimal('500.00'), Decimal('130.00'), Decimal('1500.00')),
 (112, datetime.date(2023, 12, 25), datetime.timedelta(seconds=67440), 57, 'Male', 37, 'Clothing', 3, Decimal('500.00'), Decimal('165.00'), Decimal('1500.00')),
 (115, datetime.date(2022, 9, 2), datetime.timedelta(seconds=69660), 67, 'Male', 51, 'Clothing', 3, Decimal('500.00'), Decimal('255.00'), Decimal('1500.00')),
 (118, datetime.date(2023, 3, 13), datetime.timedelta(seconds=72420), 3, 'Female', 30, 'Electronics', 4, Decimal('500.00'), Decimal('270.00'), Decimal('2000.00')),
 (124, datetime.date(2022, 12, 24), datetime.timedelta(seconds=76620), 83, 'Male', 33, 'Clothing', 4, Decimal('500.00'), Decimal('515.00'), Decimal('2000.00')),
 (139, datetime.date(2023, 9, 15), datetime.timedelta(seconds=50580), 113, 'Male', 36, 'Beauty', 4, Decimal('500.00'), Decimal('230.00'), Decimal('2000.00')),
 (142, datetime.date(2022, 4, 8), datetime.timedelta(seconds=36300), 61, 'Male', 35, 'Electronics', 4, Decimal('300.00'), Decimal('138.00'), Decimal('1200.00')),
 (144, datetime.date(2022, 3, 26), datetime.timedelta(seconds=80280), 119, 'Female', 59, 'Beauty', 3, Decimal('500.00'), Decimal('255.00'), Decimal('1500.00')),
 (152, datetime.date(2022, 6, 16), datetime.timedelta(seconds=43080), 120, 'Male', 43, 'Electronics', 4, Decimal('500.00'), Decimal('210.00'), Decimal('2000.00')),
 (155, datetime.date(2023, 7, 18), datetime.timedelta(seconds=65100), 3, 'Male', 31, 'Electronics', 4, Decimal('500.00'), Decimal('150.00'), Decimal('2000.00')),
 (157, datetime.date(2022, 5, 15), datetime.timedelta(seconds=79140), 98, 'Male', 62, 'Electronics', 4, Decimal('500.00'), Decimal('170.00'), Decimal('2000.00')),
 (164, datetime.date(2023, 2, 28), datetime.timedelta(seconds=66360), 3, 'Female', 47, 'Beauty', 3, Decimal('500.00'), Decimal('185.00'), Decimal('1500.00')),
 (165, datetime.date(2022, 9, 24), datetime.timedelta(seconds=68460), 75, 'Female', 60, 'Clothing', 4, Decimal('300.00'), Decimal('318.00'), Decimal('1200.00')),
 (166, datetime.date(2023, 1, 28), datetime.timedelta(seconds=42120), 32, 'Male', 34, 'Clothing', 4, Decimal('500.00'), Decimal('225.00'), Decimal('2000.00')),
 (169, datetime.date(2022, 11, 28), datetime.timedelta(seconds=67620), 73, 'Male', 18, 'Beauty', 3, Decimal('500.00'), Decimal('145.00'), Decimal('1500.00')),
 (181, datetime.date(2023, 11, 6), datetime.timedelta(seconds=71940), 79, 'Male', 19, 'Electronics', 4, Decimal('300.00'), Decimal('327.00'), Decimal('1200.00')),
 (193, datetime.date(2022, 3, 27), datetime.timedelta(seconds=38400), 55, 'Male', 35, 'Beauty', 3, Decimal('500.00'), Decimal('180.00'), Decimal('1500.00')),
 (199, datetime.date(2023, 10, 26), datetime.timedelta(seconds=77640), 53, 'Male', 45, 'Beauty', 3, Decimal('500.00'), Decimal('135.00'), Decimal('1500.00')),
 (202, datetime.date(2023, 1, 25), datetime.timedelta(seconds=23040), 61, 'Female', 34, 'Clothing', 4, Decimal('300.00'), Decimal('120.00'), Decimal('1200.00')),
 (211, datetime.date(2022, 9, 12), datetime.timedelta(seconds=50520), 54, 'Male', 42, 'Beauty', 3, Decimal('500.00'), Decimal('235.00'), Decimal('1500.00')),
 (212, datetime.date(2023, 10, 12), datetime.timedelta(seconds=65580), 105, 'Male', 21, 'Clothing', 3, Decimal('500.00'), Decimal('215.00'), Decimal('1500.00')),
 (213, datetime.date(2023, 8, 13), datetime.timedelta(seconds=74880), 113, 'Male', 27, 'Beauty', 3, Decimal('500.00'), Decimal('275.00'), Decimal('1500.00')),
 (215, datetime.date(2022, 10, 3), datetime.timedelta(seconds=76800), 101, 'Male', 58, 'Clothing', 3, Decimal('500.00'), Decimal('145.00'), Decimal('1500.00')),
 (239, datetime.date(2022, 9, 19), datetime.timedelta(seconds=70440), 1, 'Male', 38, 'Electronics', 3, Decimal('500.00'), Decimal('165.00'), Decimal('1500.00')),
 (253, datetime.date(2022, 9, 30), datetime.timedelta(seconds=77160), 66, 'Female', 53, 'Clothing', 4, Decimal('500.00'), Decimal('525.00'), Decimal('2000.00')),
 (257, datetime.date(2022, 12, 10), datetime.timedelta(seconds=31740), 130, 'Male', 19, 'Beauty', 4, Decimal('500.00'), Decimal('165.00'), Decimal('2000.00')),
 (269, datetime.date(2022, 9, 19), datetime.timedelta(seconds=41460), 87, 'Male', 25, 'Clothing', 4, Decimal('500.00'), Decimal('250.00'), Decimal('2000.00')),
 (280, datetime.date(2023, 11, 17), datetime.timedelta(seconds=34500), 76, 'Female', 37, 'Clothing', 3, Decimal('500.00'), Decimal('240.00'), Decimal('1500.00')),
 (281, datetime.date(2023, 9, 18), datetime.timedelta(seconds=72540), 4, 'Female', 29, 'Beauty', 4, Decimal('500.00'), Decimal('275.00'), Decimal('2000.00')),
 (292, datetime.date(2022, 10, 10), datetime.timedelta(seconds=23580), 111, 'Male', 20, 'Beauty', 4, Decimal('300.00'), Decimal('141.00'), Decimal('1200.00')),
 (296, datetime.date(2022, 12, 31), datetime.timedelta(seconds=81840), 73, 'Female', 22, 'Clothing', 4, Decimal('300.00'), Decimal('369.00'), Decimal('1200.00')),
 (298, datetime.date(2023, 10, 5), datetime.timedelta(seconds=68700), 3, 'Male', 27, 'Beauty', 4, Decimal('300.00'), Decimal('84.00'), Decimal('1200.00')),
 (308, datetime.date(2022, 3, 31), datetime.timedelta(seconds=69120), 130, 'Female', 34, 'Beauty', 4, Decimal('300.00'), Decimal('126.00'), Decimal('1200.00')),
 (313, datetime.date(2023, 12, 16), datetime.timedelta(seconds=36180), 11, 'Female', 55, 'Beauty', 3, Decimal('500.00'), Decimal('140.00'), Decimal('1500.00')),
 (320, datetime.date(2022, 4, 20), datetime.timedelta(seconds=30900), 57, 'Female', 28, 'Electronics', 4, Decimal('300.00'), Decimal('159.00'), Decimal('1200.00')),
 (332, datetime.date(2023, 4, 24), datetime.timedelta(seconds=41280), 138, 'Male', 58, 'Electronics', 4, Decimal('300.00'), Decimal('105.00'), Decimal('1200.00')),
 (333, datetime.date(2022, 10, 6), datetime.timedelta(seconds=29700), 21, 'Female', 54, 'Electronics', 4, Decimal('300.00'), Decimal('99.00'), Decimal('1200.00')),
 (340, datetime.date(2023, 9, 19), datetime.timedelta(seconds=82740), 54, 'Female', 36, 'Clothing', 4, Decimal('300.00'), Decimal('294.00'), Decimal('1200.00')),
 (342, datetime.date(2023, 11, 5), datetime.timedelta(seconds=62640), 85, 'Female', 43, 'Clothing', 4, Decimal('500.00'), Decimal('500.00'), Decimal('2000.00')),
 (356, datetime.date(2023, 8, 27), datetime.timedelta(seconds=66900), 71, 'Male', 50, 'Electronics', 3, Decimal('500.00'), Decimal('255.00'), Decimal('1500.00')),
 (361, datetime.date(2022, 9, 12), datetime.timedelta(seconds=59820), 112, 'Female', 34, 'Electronics', 4, Decimal('300.00'), Decimal('81.00'), Decimal('1200.00')),
 (368, datetime.date(2023, 1, 31), datetime.timedelta(seconds=76260), 90, 'Female', 56, 'Clothing', 4, Decimal('300.00'), Decimal('132.00'), Decimal('1200.00')),
 (369, datetime.date(2023, 12, 13), datetime.timedelta(seconds=70920), 111, 'Male', 23, 'Electronics', 3, Decimal('500.00'), Decimal('215.00'), Decimal('1500.00')),
 (372, datetime.date(2022, 6, 19), datetime.timedelta(seconds=42300), 27, 'Female', 24, 'Beauty', 3, Decimal('500.00'), Decimal('140.00'), Decimal('1500.00')),
 (385, datetime.date(2022, 11, 20), datetime.timedelta(seconds=68760), 127, 'Male', 50, 'Electronics', 3, Decimal('500.00'), Decimal('525.00'), Decimal('1500.00')),
 (405, datetime.date(2022, 10, 17), datetime.timedelta(seconds=64500), 79, 'Female', 25, 'Clothing', 4, Decimal('300.00'), Decimal('324.00'), Decimal('1200.00')),
 (412, datetime.date(2022, 9, 4), datetime.timedelta(seconds=70560), 30, 'Female', 19, 'Electronics', 4, Decimal('500.00'), Decimal('570.00'), Decimal('2000.00')),
 (416, datetime.date(2022, 8, 21), datetime.timedelta(seconds=34140), 55, 'Male', 53, 'Electronics', 4, Decimal('500.00'), Decimal('245.00'), Decimal('2000.00')),
 (420, datetime.date(2022, 1, 2), datetime.timedelta(seconds=39180), 28, 'Female', 22, 'Clothing', 4, Decimal('500.00'), Decimal('200.00'), Decimal('2000.00')),
 (421, datetime.date(2022, 4, 8), datetime.timedelta(seconds=31380), 66, 'Female', 37, 'Clothing', 3, Decimal('500.00'), Decimal('235.00'), Decimal('1500.00')),
 (424, datetime.date(2023, 12, 20), datetime.timedelta(seconds=69660), 101, 'Male', 57, 'Beauty', 4, Decimal('300.00'), Decimal('147.00'), Decimal('1200.00')),
 (431, datetime.date(2022, 10, 29), datetime.timedelta(seconds=79320), 99, 'Male', 63, 'Electronics', 4, Decimal('300.00'), Decimal('345.00'), Decimal('1200.00')),
 (437, datetime.date(2023, 11, 26), datetime.timedelta(seconds=67980), 56, 'Female', 35, 'Electronics', 4, Decimal('300.00'), Decimal('345.00'), Decimal('1200.00')),
 (441, datetime.date(2023, 11, 6), datetime.timedelta(seconds=79200), 85, 'Male', 57, 'Beauty', 4, Decimal('300.00'), Decimal('351.00'), Decimal('1200.00')),
 (447, datetime.date(2023, 4, 18), datetime.timedelta(seconds=64620), 37, 'Male', 22, 'Beauty', 4, Decimal('500.00'), Decimal('245.00'), Decimal('2000.00')),
 (452, datetime.date(2023, 1, 30), datetime.timedelta(seconds=81660), 4, 'Female', 48, 'Clothing', 3, Decimal('500.00'), Decimal('240.00'), Decimal('1500.00')),
 (459, datetime.date(2023, 5, 23), datetime.timedelta(seconds=25920), 122, 'Male', 28, 'Clothing', 4, Decimal('300.00'), Decimal('75.00'), Decimal('1200.00')),
 (462, datetime.date(2023, 8, 26), datetime.timedelta(seconds=36240), 71, 'Male', 63, 'Electronics', 4, Decimal('300.00'), Decimal('132.00'), Decimal('1200.00')),
 (463, datetime.date(2023, 1, 29), datetime.timedelta(seconds=73320), 55, 'Female', 54, 'Beauty', 3, Decimal('500.00'), Decimal('175.00'), Decimal('1500.00')),
 (474, datetime.date(2022, 5, 8), datetime.timedelta(seconds=64620), 145, 'Female', 26, 'Clothing', 3, Decimal('500.00'), Decimal('210.00'), Decimal('1500.00')),
 (476, datetime.date(2023, 12, 12), datetime.timedelta(seconds=66660), 131, 'Female', 27, 'Clothing', 4, Decimal('500.00'), Decimal('570.00'), Decimal('2000.00')),
 (479, datetime.date(2022, 11, 3), datetime.timedelta(seconds=77700), 90, 'Male', 52, 'Electronics', 4, Decimal('300.00'), Decimal('105.00'), Decimal('1200.00')),
 (480, datetime.date(2022, 12, 22), datetime.timedelta(seconds=79920), 126, 'Female', 42, 'Beauty', 4, Decimal('500.00'), Decimal('225.00'), Decimal('2000.00')),
 (481, datetime.date(2023, 7, 13), datetime.timedelta(seconds=61920), 48, 'Female', 43, 'Electronics', 4, Decimal('300.00'), Decimal('114.00'), Decimal('1200.00')),
 (482, datetime.date(2023, 8, 12), datetime.timedelta(seconds=68220), 3, 'Female', 28, 'Clothing', 4, Decimal('300.00'), Decimal('141.00'), Decimal('1200.00')),
 (484, datetime.date(2022, 3, 13), datetime.timedelta(seconds=28320), 135, 'Female', 19, 'Clothing', 4, Decimal('300.00'), Decimal('75.00'), Decimal('1200.00')),
 (487, datetime.date(2023, 4, 9), datetime.timedelta(seconds=75780), 36, 'Male', 44, 'Clothing', 4, Decimal('500.00'), Decimal('235.00'), Decimal('2000.00')),
 (503, datetime.date(2023, 10, 8), datetime.timedelta(seconds=72360), 63, 'Male', 45, 'Beauty', 4, Decimal('500.00'), Decimal('570.00'), Decimal('2000.00')),
 (506, datetime.date(2022, 4, 29), datetime.timedelta(seconds=25980), 9, 'Male', 34, 'Beauty', 3, Decimal('500.00'), Decimal('200.00'), Decimal('1500.00')),
 (507, datetime.date(2022, 12, 11), datetime.timedelta(seconds=78000), 52, 'Female', 37, 'Electronics', 3, Decimal('500.00'), Decimal('485.00'), Decimal('1500.00')),
 (522, datetime.date(2022, 7, 9), datetime.timedelta(seconds=39600), 52, 'Male', 46, 'Beauty', 3, Decimal('500.00'), Decimal('145.00'), Decimal('1500.00')),
 (524, datetime.date(2023, 9, 17), datetime.timedelta(seconds=71520), 12, 'Male', 46, 'Beauty', 4, Decimal('300.00'), Decimal('297.00'), Decimal('1200.00')),
 (533, datetime.date(2022, 11, 13), datetime.timedelta(seconds=62340), 92, 'Male', 19, 'Electronics', 3, Decimal('500.00'), Decimal('155.00'), Decimal('1500.00')),
 (547, datetime.date(2022, 11, 14), datetime.timedelta(seconds=27360), 3, 'Male', 63, 'Clothing', 4, Decimal('500.00'), Decimal('250.00'), Decimal('2000.00')),
 (553, datetime.date(2023, 3, 20), datetime.timedelta(seconds=22620), 106, 'Male', 24, 'Clothing', 4, Decimal('300.00'), Decimal('81.00'), Decimal('1200.00')),
 (559, datetime.date(2022, 12, 12), datetime.timedelta(seconds=38880), 5, 'Female', 40, 'Clothing', 4, Decimal('300.00'), Decimal('84.00'), Decimal('1200.00')),
 (561, datetime.date(2022, 7, 29), datetime.timedelta(seconds=61440), 34, 'Female', 64, 'Clothing', 4, Decimal('500.00'), Decimal('250.00'), Decimal('2000.00')),
 (572, datetime.date(2023, 12, 13), datetime.timedelta(seconds=66780), 5, 'Male', 31, 'Clothing', 4, Decimal('500.00'), Decimal('185.00'), Decimal('2000.00')),
 (577, datetime.date(2022, 4, 21), datetime.timedelta(seconds=42900), 45, 'Male', 21, 'Beauty', 4, Decimal('500.00'), Decimal('215.00'), Decimal('2000.00')),
 (580, datetime.date(2022, 11, 14), datetime.timedelta(seconds=53040), 104, 'Female', 31, 'Clothing', 3, Decimal('500.00'), Decimal('200.00'), Decimal('1500.00')),
 (587, datetime.date(2023, 9, 4), datetime.timedelta(seconds=68400), 91, 'Female', 40, 'Beauty', 4, Decimal('300.00'), Decimal('99.00'), Decimal('1200.00')),
 (592, datetime.date(2022, 12, 26), datetime.timedelta(seconds=33300), 77, 'Female', 46, 'Beauty', 4, Decimal('500.00'), Decimal('275.00'), Decimal('2000.00')),
 (595, datetime.date(2022, 10, 15), datetime.timedelta(seconds=77700), 65, 'Female', 18, 'Clothing', 4, Decimal('500.00'), Decimal('210.00'), Decimal('2000.00')),
 (597, datetime.date(2022, 11, 1), datetime.timedelta(seconds=70140), 84, 'Male', 22, 'Beauty', 4, Decimal('300.00'), Decimal('111.00'), Decimal('1200.00')),
 (608, datetime.date(2022, 12, 7), datetime.timedelta(seconds=80340), 112, 'Female', 55, 'Electronics', 3, Decimal('500.00'), Decimal('200.00'), Decimal('1500.00')),
 (611, datetime.date(2022, 7, 21), datetime.timedelta(seconds=29580), 11, 'Male', 51, 'Beauty', 3, Decimal('500.00'), Decimal('180.00'), Decimal('1500.00')),
 (614, datetime.date(2023, 2, 13), datetime.timedelta(seconds=23280), 61, 'Female', 39, 'Beauty', 4, Decimal('300.00'), Decimal('120.00'), Decimal('1200.00')),
 (626, datetime.date(2022, 10, 30), datetime.timedelta(seconds=75660), 65, 'Female', 26, 'Clothing', 4, Decimal('500.00'), Decimal('555.00'), Decimal('2000.00')),
 (634, datetime.date(2022, 10, 10), datetime.timedelta(seconds=69900), 68, 'Male', 60, 'Electronics', 4, Decimal('500.00'), Decimal('535.00'), Decimal('2000.00')),
 (636, datetime.date(2023, 5, 9), datetime.timedelta(seconds=22500), 60, 'Female', 21, 'Beauty', 3, Decimal('500.00'), Decimal('230.00'), Decimal('1500.00')),
 (647, datetime.date(2023, 3, 1), datetime.timedelta(seconds=71580), 5, 'Male', 59, 'Clothing', 3, Decimal('500.00'), Decimal('190.00'), Decimal('1500.00')),
 (648, datetime.date(2023, 2, 23), datetime.timedelta(seconds=65580), 41, 'Male', 53, 'Beauty', 4, Decimal('300.00'), Decimal('138.00'), Decimal('1200.00')),
 (663, datetime.date(2023, 8, 16), datetime.timedelta(seconds=23520), 133, 'Male', 23, 'Clothing', 4, Decimal('300.00'), Decimal('87.00'), Decimal('1200.00')),
 (664, datetime.date(2022, 9, 3), datetime.timedelta(seconds=60720), 109, 'Female', 44, 'Clothing', 4, Decimal('500.00'), Decimal('170.00'), Decimal('2000.00')),
 (669, datetime.date(2022, 1, 23), datetime.timedelta(seconds=73440), 110, 'Male', 24, 'Beauty', 4, Decimal('300.00'), Decimal('87.00'), Decimal('1200.00')),
 (673, datetime.date(2022, 7, 4), datetime.timedelta(seconds=36840), 18, 'Female', 43, 'Clothing', 3, Decimal('500.00'), Decimal('270.00'), Decimal('1500.00')),
 (676, datetime.date(2023, 7, 10), datetime.timedelta(seconds=79980), 80, 'Male', 63, 'Electronics', 3, Decimal('500.00'), Decimal('205.00'), Decimal('1500.00')),
 (677, datetime.date(2022, 12, 17), datetime.timedelta(seconds=76380), 65, 'Female', 19, 'Beauty', 3, Decimal('500.00'), Decimal('555.00'), Decimal('1500.00')),
 (682, datetime.date(2023, 10, 23), datetime.timedelta(seconds=75060), 60, 'Male', 46, 'Beauty', 4, Decimal('300.00'), Decimal('354.00'), Decimal('1200.00')),
 (693, datetime.date(2023, 6, 8), datetime.timedelta(seconds=61920), 1, 'Male', 41, 'Beauty', 3, Decimal('500.00'), Decimal('270.00'), Decimal('1500.00')),
 (700, datetime.date(2022, 9, 1), datetime.timedelta(seconds=54420), 61, 'Male', 36, 'Electronics', 4, Decimal('500.00'), Decimal('250.00'), Decimal('2000.00')),
 (710, datetime.date(2022, 9, 3), datetime.timedelta(seconds=76260), 71, 'Female', 26, 'Electronics', 3, Decimal('500.00'), Decimal('495.00'), Decimal('1500.00')),
 (711, datetime.date(2023, 9, 23), datetime.timedelta(seconds=80760), 103, 'Male', 26, 'Electronics', 3, Decimal('500.00'), Decimal('575.00'), Decimal('1500.00')),
 (716, datetime.date(2023, 8, 13), datetime.timedelta(seconds=71460), 137, 'Female', 60, 'Clothing', 4, Decimal('300.00'), Decimal('108.00'), Decimal('1200.00')),
 (720, datetime.date(2022, 4, 8), datetime.timedelta(seconds=31800), 116, 'Female', 56, 'Beauty', 3, Decimal('500.00'), Decimal('235.00'), Decimal('1500.00')),

**6.Write a SQL query to find the total number of transactions (transaction_id) made by each gender in each category.**

In [18]:
%%sql

select gender,category,count(transaction_id)
from retail_sales
group by gender,category
order by category,gender desc

 * mysql+mysqlconnector://root:***@localhost/retail_store
6 rows affected.

[('Male', 'Beauty', 281),
 ('Female', 'Beauty', 330),
 ('Male', 'Clothing', 351),
 ('Female', 'Clothing', 347),
 ('Male', 'Electronics', 343),
 ('Female', 'Electronics', 335)]

**7.Write a SQL query to calculate the average sale for each month. Find out best selling month in each year**

In [57]:
%%sql

with top_month as (select 
    month(sale_date) as MONTH,
    year(sale_date) as year,
    avg(total_sale) as AVERAGE_SALE,
    row_number() over(order by year(sale_date),avg(total_sale) desc) as rn
    from retail_sales
    group by year(sale_date),month(sale_date)
)

SELECT
    YEAR,
    MONTH,
    AVERAGE_SALE,
    MONTHNAME(STR_TO_DATE(CONCAT(year,'-',month,'-01'), '%Y-%m-%d')) AS MONTH_NAME
FROM top_month
WHERE rn % 12 = 1;

 * mysql+mysqlconnector://root:***@localhost/retail_store
2 rows affected.

[(2022, 7, Decimal('541.341463'), 'July'),
 (2023, 2, Decimal('535.531915'), 'February')]

**8.Write a SQL query to find the top 5 customers based on the highest total sales**

In [66]:
%%sql

select customer_id,sum(total_sale) as TOTAL_SALE
from retail_sales
group by 1
order by 2 DESC
limit 5

 * mysql+mysqlconnector://root:***@localhost/retail_store
5 rows affected.

[(3, Decimal('38440.00')),
 (1, Decimal('30750.00')),
 (5, Decimal('30405.00')),
 (2, Decimal('25295.00')),
 (4, Decimal('23580.00'))]

**9.Write a SQL query to find the number of unique customers who purchased items from each category.**

In [67]:
%%sql

select category,count(distinct customer_id) as UNIQUE_CUSTOMER
from retail_sales
group by category

 * mysql+mysqlconnector://root:***@localhost/retail_store
3 rows affected.

[('Beauty', 141), ('Clothing', 149), ('Electronics', 144)]

**10.Write a SQL query to create each shift and number of orders (Example Morning <12, Afternoon Between 12 & 17, Evening >17)**

In [75]:
%%sql
with shift_schedule as (select *,
case 
    when hour(sale_time)<12 then 'Morning'
    when hour(sale_time) between 12 and 17 then 'Afternoon'
    else 'Evening'
end as Shift
from retail_sales
)

select
shift,
count(*) as TOTAL_ORDERS
from shift_schedule
group by shift

 * mysql+mysqlconnector://root:***@localhost/retail_store
3 rows affected.

[('Evening', 1062), ('Morning', 548), ('Afternoon', 377)]